@font-face {
  font-family: 'kobe1.1black';
  src: url('~assets/fonts/kobe11-black-webfont.woff2') format('woff2'),
       url('~assets/fonts/kobe11-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kobe1.1black_oblique';
  src: url('~assets/fonts/kobe11-blackoblique-webfont.woff2') format('woff2'),
       url('~assets/fonts/kobe11-blackoblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kobe1.1bold';
  src: url('~assets/fonts/kobe11-bold-webfont.woff2') format('woff2'),
       url('~assets/fonts/kobe11-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kobe1.1italic';
  src: url('~assets/fonts/kobe11-oblique-webfont.woff2') format('woff2'),
       url('~assets/fonts/kobe11-oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kobe1.1regular';
  src: url('~assets/fonts/kobe11-regular-webfont.woff2') format('woff2'),
       url('~assets/fonts/kobe11-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceblack';
  src: url('~assets/fonts/brice-black-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceblack_condensed';
  src: url('~assets/fonts/brice-blackcondensed-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-blackcondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceblack_expanded';
  src: url('~assets/fonts/brice-blackexpanded-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-blackexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceblack_semicondensed';
  src: url('~assets/fonts/brice-blacksemicondensed-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-blacksemicondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceblack_semiexpanded';
  src: url('~assets/fonts/brice-blacksemiexpanded-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-blacksemiexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bricebold_condensed';
  src: url('~assets/fonts/brice-boldcondensed-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-boldcondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bricebold_expanded';
  src: url('~assets/fonts/brice-boldexpanded-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-boldexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bricebold_semicondensed';
  src: url('~assets/fonts/brice-boldsemicondensed-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-boldsemicondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bricebold_semiexpanded';
  src: url('~assets/fonts/brice-boldsemiexpanded-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-boldsemiexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceextra_light';
  src: url('~assets/fonts/brice-extralight-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceextra_light_condensed';
  src: url('~assets/fonts/brice-extralightcondensed-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-extralightcondensed-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'briceextra_light_expanded';
  src: url('~assets/fonts/brice-extralightexpanded-webfont.woff2') format('woff2'),
       url('~assets/fonts/brice-extralightexpanded-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}